<div class="footer">

 
    <h4>Data Sources:</h4>
       Rent Data: <a><img src='../images/Quandl-Wordmark.png'></a>
         Tax Data: Taxee <a><img src='../images/taxee.jpg'></a>
  
    
    <h4 >Built by Aaron Bell</h4>
</div>

