<div class="question animated slideInUp">
    <h2>Enter Your Estimated Yearly Income</h2>
    <form onsubmit="Obj(this.income.name,this.income.value)">
        <input min=1 type="number" id="p" name="income" value="" required>
        <input type="submit" value="Submit"> </form>
</div>