<div class="question">

<h2>Enter Your Estimated Yearly Income</h2>
    <form  onsubmit="Obj(this.income.name,this.income.value)">
        <input type="number"  id="income" name="income" required>
         <input id="submit" type="submit" value="Submit">
    </form>
    
</div>