<div class="question animated fadeIn">
    <h2>Enter Your Estimated Yearly Income</h2>
    <form onsubmit="Obj(this.p.name,this.p.value)">
        <input min=1 type="number" id="p" name="income" value="" required>
        <input type="submit" value="Submit"> </form>
</div>