<div class="question animated fadeIn">

<h2>Enter Your Estimated Yearly Income</h2>
    <form  onsubmit="Obj(this.income.name,this.income.value)">
        <input min=1 type="number"  id="income" name="income" required>
         <input id="s" type="submit" value="Submit">
    </form>
    
</div>