<div class="question animated slideInUp">

<h3>Do you know your individual monthly rent cost?</h3>
    <p>If not, we'll get the average rent of a zip code for you from Zillow</p>
    <form  onsubmit="Obj(this.p.name,this.p.value)">
        <input type="number"  id="p" name="rent" placeholder="Leave blank if N/A" >
         <input id="s" type="submit" value="Submit">
    </form>
    
</div>