<div class="question animated fadeIn" >
<p>Enter your monthly rent here for it to be included in building the budget</p>
    <form  onsubmit="Obj(this.p.name,this.p.value)">
        <input type="number"  id="p" name="rent" required>
         <input id="s" type="submit" value="Submit">
    </form>
    
</div>