<div class="question animated fadeIn">

<h2>How many roommates do you plan to have?</h2>
    <p>If you aren't sure, leave as 1</p>
    <form  action="javascript:redirect()" method="post">
        <input onkeyup="constructor('roommate',this.form.p.value)" type="number"  id="p" name="roommate" min=1 value=1 required>
         <input id="s" type="submit" value="Submit">
    </form>
    
</div>