<div class="question animated fadeIn">

<h2>How many roommates do you plan to have?</h2>
    <p>If you aren't sure, leave as 1</p>
    <form  onsubmit="Obj(this.p.name,this.p.value)">
        <input type="number"  id="p" name="roommate" value=1 required>
         <input id="s" type="submit" value="Submit">
    </form>
    
</div>