<div class="question animated fadeIn">

<h2>How many roommates do you plan to have?</h2>
    <p>If you aren't sure, leave as 1</p>
    <form  onsubmit="Obj(this.room.name,this.room.value)">
        <input type="number"  id="room" name="room" value=1 required>
         <input id="s" type="submit" value="Submit">
    </form>
    
</div>