<div class="question animated slideInUp ">

<h2>What zip code will you live in?</h2>
    <p>(O.K. to leave blank if N/A)</p>
    <form  onsubmit="Obj(this.p.name,this.p.value)">
        <input type="number"  id="p" name="zip" required>
         <input id="s" type="submit" value="Submit">
    </form>
    
</div>