<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" /> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"></head>


   <body> 
   {{> header}}
    
       
       <div class="render">
       
   <h4>Oops, something went wrong. Please try again</h4>
    
   {{>form}}
       </div>

    {{> footer}}
       </body>

</html>