<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/ionicons.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    
    
    
 <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/manifest.json">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/favicon/favicon.ico">
<meta name="msapplication-config" content="/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
</head>

<body>
    <section class="top">
        <h1>Budget Responsibly.</h1>
        <p> A budget building tool that starts by calculating your estimated Tax and Rent expense using data sources on the internet.</p> <span> <img src="images/dollar2.png"></span>
        <p>scroll down to begin</p>
        <div class="arrow"><i class="ion ion-arrow-down-a"></i></div>
    </section>
    <section class="info">
        <h1>A Budget For Any Situation</h1>
        <div class="categories">
            <div class="category"><i class="icon ion-home"></i><h3>Moving to a new city?</h3>We collect data from Zillow to get you an understanding of what you might pay in rent.<br><br> Know your rent price?<br><br> Have roommates? <br><br>We take this info into account.  </div>
            <div class="category"><i class="ion ion-card"></i><h3>Take control of your finances</h3> After you enter your info, we give you downloadable templates for you to print out and keep track of expenses.
            </div>
            <div class="category"><i class="ion ion-university"></i><h3>Understand your taxes</h3>If you recently graduated college and have no idea how taxes work, you're not alone.  Based of your salary and where you live, we estimates how much Uncle Sam will collect.</div>
          
        </div>

    </section>
    
    <section class="form">
         <input id="s" type="submit" value="Submit">
        </section>
    
    
    <script type='text/javascript' src='/js/app.js'></script>
</body>

</html>