html{
    margin:0;
        display:inline-block;
}



section{
    padding-top: 15px;
}

h1{
    margin-bottom:20px;
    margin-top:20px;
    color:white;
}

p{
    padding-top: 20px;
    text-align: center;
}


.top{
    height: 100vh;
}

.ion-arrow-down-a{
    color:green;
    background-color: white;
    padding:5px 10px;
    border-radius: 50px;
    font-size: 200%;
    transition:all .3s;
}

.ion-arrow-down-a:hover{
    color:white;
    background-color: green;
    border:1px solid white;

}

body {
 background-color: green;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin:0;
}
/*info CSS */

.info{
    height:100vh;
    background-color:white;
    color:green;
    text-align: center;
}
.info h1{
    color:green;
}

.category{
    width:30%;
    border:2px solid green;
    padding:5px;
    margin:0 5px;
    text-align: center;
    vertical-align: middle;
    float:left;
    height:400px;
    color:white;
    background-color:green;
   
}

.category i {
    font-size:300%;
    position:relative;
    top :20px;
    margin-bottom: 20px;
}

/*Form CSS */

.form{
    height: 100vh;
    background-color: #f9fafc;
    color:green;
}


.form p{
    width:40%;
    margin: 0 auto;
}

.form-container {
    margin:50px auto;
    width: 80%;
    text-align: center;
}

.form-element {
    display: inline-block;
    height: 100%;
    width: 30%;
    margin: 0 auto;
    ;
    text-align: center;
}

form input {
    width: 80%;
    text-align: center;
    background-color: #457B9D;
    color: white;
}

form {
    border: 2px solid black;
    text-align: center;
}

#submit {
    width: 90%;
    text-align: center;
}



button{
    text-align: center;
    background-color: #457B9D;
    padding:5px;
    color:white;
    width:40px;
    margin: 0 auto;
    
}


