html {
    margin: 0;
    display: inline-block;
}

header {
    height: 50px;
    background-color: green;
    border-bottom: 2px black;
    margin-top: 0;
    color: white;
    z-index: 999;
}

.header-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    border-bottom: 3px solid black;
}

.header-wrap a {
    color: white;
}

.header-wrap a:visted {
    color: white;
}

header h3 {
    margin-top: 3px;
    padding-top: 10px;
    position: absolute;
    left: 40px;
}

ul {
    position: absolute;
    right: 20px;
}

ul li {
    color: white;
    display: inline-block;
    padding-right: 10px;
}

.top p {
    padding-top: 20px;
    text-align: center;
}

.top {
    height: 100vh;
    background-color: white;
    color: green;
    margin-top: 150px;
}

.top span img {
    padding-top: 40px;
    width: 170px;
    height: 140px;
}

.arrow img {
    width: 100px;
    margin-top: 100px;
    transition: .2s;
}

.arrow img:hover {
    margin-top: 95px;
}

body {
    color: white;
    font-family: montserrat, arial, verdana;
    text-align: center;
    margin: 0;
}


/*info CSS */

.info {
    height: 100vh;
    color: green;
    text-align: center;
    padding-top: 75px;
    width: 75%;
    margin: 0 auto;
}

.info h1 {
    color: green;
    margin-bottom: 50px;
}

.info h4 {
    font-weight: 100;
    margin-bottom: 50px;
}

.info h4:last-child {
    font-size: 13px;
    margin-top: 70px;
}

.info img {
    max-width: 70%;
    display: inline;
    max-height: 40px;
    margin-bottom: 20px;
}

.info a:link,
.info a:visited {
    width: 205px;
    color: white;
    background-color: green;
    border: 1px solid green;
    border-radius: 20px;
    padding: 10px;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
}

.info a:active,
.info a:hover {
    color: green;
    background-color: white;
    text-decoration: none;
    border: 1px solid black;
}


/*Form CSS */

.form {
    height: 100vh;
    color: green;
    position: relative;
}

.form div {
    height: 50%;
    padding-top: 25%;
}

.form p {
    width: 40%;
    margin: 0 auto;
}

form input {
    width: 50%;
    text-align: center;
    color: black;
}

#submit {
    width: 90%;
    text-align: center;
}

button {
    text-align: center;
    background-color: #457B9D;
    padding: 5px;
    color: black;
    width: 40px;
    margin: 0 auto;
}

.tool {}

.question {
    color: green;
    padding-top: 180px;
}

.question h1 {
    color: green;
}





.bar {
    position: absolute;
    height: 20px;
    bottom: 70px;
    margin: auto;
    width: 70%;
    margin-left: 15%;
    color: green;
    z-index: 10;
}

.bar p {
    display: inline;
    background-color: transparent;
    color: green;
    font-size: 16px;
    padding: 10px;
    margin: px auto;
    text-align: center;
    min-width: 50px;
    border: 1px solid green;
    z-index: 3;
    transition: 1s;
    cursor: not-allowed;
}



.bar p:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 4;
}

.bar p:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1;
    width: 80px;
    padding-left: 12px;
    padding-right: 20px;
}



.bar p.enter {
    background-color: green;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}


.enter {
    background-color: green;
    color: white;
    border: 2px solid black;
    cursor: pointer;
}
